/* Эквалайзер */
.equalizer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 2px; /* Уменьшим разрыв */
    padding: 10px;
    z-index: 1; /* Позади обложки (z-index 2), но перед placeholder (z-index 0) */
    pointer-events: none; /* Не перехватывает клики */
    overflow: hidden;
    border-radius: inherit;
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
}

.equalizer-container.active .equalizer-bar {
    height: 80%; /* Начальная высота при активности */
}

.equalizer-bar {
    width: 100%; /* Заполнит доступное пространство */
    background: linear-gradient(to top, 
        var(--accent-color) 0%, 
        var(--primary-color) 50%, 
        #00ffff 100%
    );
    border-radius: 2px;
    height: 1%; /* Начальная высота */
    transform-origin: bottom;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    filter: brightness(1.2);
    transition: height 0.2s cubic-bezier(0.165, 0.84, 0.44, 1); /* Плавная анимация высоты */
}