/* Эквалайзер */
.equalizer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    z-index: 4;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.equalizer-container.active {
    opacity: 1;
}

.equalizer-bar {
    width: 8px;
    border-radius: 4px;
    transform-origin: bottom;
    filter: brightness(1.2);
    animation: 
        equalizerBar 1.6s ease-in-out infinite alternate,
        changeColor 10s linear infinite;
}

.equalizer-bar:nth-child(1) { animation-delay: -0.1s; }
.equalizer-bar:nth-child(2) { animation-delay: -0.3s; }
.equalizer-bar:nth-child(3) { animation-delay: -0.5s; }
.equalizer-bar:nth-child(4) { animation-delay: -0.2s; }
.equalizer-bar:nth-child(5) { animation-delay: -0.4s; }
.equalizer-bar:nth-child(6) { animation-delay: -0.6s; }
.equalizer-bar:nth-child(7) { animation-delay: -0.8s; }

